.error-title{
    font-size: 288px;
    color: var(--primary-color);
    font-weight: 700;
    text-align: center;
    margin: 160px auto 60px;
}
.error-message{
    font-size: 36px;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 180px;
}
.error-link{
    display: block;
    font-size: 18px;
    color: var(--primary-color);
    text-align: center;
    text-decoration: underline;
}